<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="cat" class="com.xiao.pojo.Cat"/>
    <bean id="dog" class="com.xiao.pojo.Dog"/>
    <!--byName:会自动在容器上下文中查找，和自己对象set方法后面的值对应的bean id-->
    <!--        <bean id="people" class="com.xiao.pojo.People" autowire="byName">-->
    <!--            <property name="name" value="可归"/>-->
    <!--        </bean>-->
    <bean id="people" class="com.xiao.pojo.People"/>
    <context:annotation-config/>
</beans>